.container {
  padding: 0 2.084%;
}

.header {
  //margin-bottom: 23px;
  //justify-content: flex-start;
  margin-bottom: 0;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 23px;
    padding-bottom: 23px;
    box-sizing: border-box;
    background: #fff;
    z-index: 2;
  }

  &__logo {
    margin-right: 34px;
  }

  &__contacts {
    position: relative;
    //margin-top: 5px;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -30px;
      width: 1px;
      height: 30px;
      background: $lightgray;
    }

    .button {
      padding: 0 12px;
    }
  }

  &__contacts-text {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    font-size: 14px;
    line-height: 30px;
    color: $black;
    margin-right: 0;

    display: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 30px;
      background: $lightgray;
    }
  }

  &__phone {
    position: relative;
    margin-left: 30px;
    margin-right: 27px;
    box-sizing: border-box;

    &-btn {
      width: 100%;
      border: 0;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: $black;
      background: #fff;
      outline: none;
      cursor: pointer;

      &:hover ~ .phone-tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__right {
    margin-top: 5px;
    margin-left: 22px;
  }
}

.phone-tooltip {
  position: absolute;
  top: 110%;
  left: 20%;
  padding: 5px 10px;
  width: 100%;
  max-width: 140px;
  box-sizing: border-box;
  text-align: left;
  font-size: 10px;
  line-height: 1.5;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);

  visibility: hidden;
  opacity: 0;
  @include transition;
}

.header-fixed {
  position: fixed;
  top: 0;
}

.header__phone,
.footer__phone {
  cursor: pointer;
}

.footer__phone-btn {
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 30px;
  font-size: 20px;
  color: white;
  background: transparent;
  outline: none;
  cursor: pointer;

  &:hover ~ .phone-tooltip {
    visibility: visible;
    opacity: 1;
  }
}

.footer__contacts {
  position: relative;

  .phone-tooltip {
    top: 70%;
    left: auto;
    right: 0;
  }
}

.ic-social-inst {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #5B657C;
  box-sizing: border-box;
  border-radius: 50%;
  background: url(../img/landing/instagram.svg) no-repeat center center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-combo__error {
  //min-height: 26px;
  line-height: 10px;
  font-size: 9px;
  font-weight: 700;
  color: #bdc5df;
  padding: 5px 11px 0;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out;

  &.isError {
    color: #e84c3d;
    visibility: visible;
    opacity: 1;
  }
}